[{{ item.key }}]
user = {{ item.value.user|default('www-data') }}
group = {{ item.value.group|default('www-data') }}
listen = /run/php/php7.0-fpm-{{ item.key }}.sock
listen.owner = {{ item.value.user|default('www-data') }}
listen.group = {{ item.value.group|default('www-data') }}
pm = {{ item.value.pm|default('dynamic') }}
pm.max_children = {{ item.value.max_children|default('5') }}
pm.start_servers = {{ item.value.start_servers|default('1') }}
pm.min_spare_servers = {{ item.value.min_spare_servers|default('1') }}
pm.max_spare_servers = {{ item.value.max_spare_servers|default('3') }}
pm.process_idle_timeout = {{ item.value.process_idle_timeout|default('10s') }}
pm.max_requests = {{ item.value.max_requests|default('200') }}

