# {{ ansible_managed }}
{% if ansible_distribution == "Ubuntu" %}
Defaults env_reset
Defaults mail_badpass
Defaults secure_path="{{ sudoers_secure_path|default('/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin') }}"
Defaults env_keep+=SSH_AUTH_SOCK

# Root privileges
root    ALL=(ALL:ALL) ALL
%sudo   ALL=(ALL:ALL) ALL
%{{ distribution_user_groups[0] }}    ALL=(ALL)NOPASSWD:ALL
otto    ALL=(ALL) NOPASSWD: ALL

{% if 'build' in group_names %}
# Allow nagios to run check_container_age
nagios  ALL=(ALL) NOPASSWD: /usr/lib/nagios/plugins/check_container_age
{% endif %}

# FIXME: We are not using this, but we probably should:
#includedir /etc/sudoers.d
{% endif %}

{% if ansible_distribution == "FreeBSD" %}
root ALL=(ALL) ALL
{% if 'nfs' in group_names %}
zfssync ALL=(ALL) NOPASSWD: /sbin/zfs, /usr/local/bin/zfsallthethings.sh
{% endif %}
%{{ distribution_user_groups[0] }} ALL=(ALL) NOPASSWD: ALL
{% endif %}
