<!DOCTYPE html>
<head>
  <title>Website no longer exists</title>
  <style type="text/css">
    body {
      background: #99ccff;
      font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
      text-align: center;
    } 
    #box {
      background: #0033cc;
      max-width:450px;
      margin: auto;
      padding: 20px;
      margin-top:10%;
    } 
    h2 {
      color: #fff;
    } 
    p {
      color: #000000;
    } 
    footer {
      color: #999;
      margin-top: 10px;
    } 
  </style>
</head>
<html>
<body>
  <div id="box">
    <h2>Website no longer exists</h2>
    <p>This website is no longer hosted by this webserver.</p>
    <p>We wish you a still good day of surfing the internet.</p>
  </div>
  <footer>\\SB//</footer>
</body>
</html>

