acl trustednetworks {
	127.0.0.1;
	192.168.1.0/24;
};

options {
        directory "/var/cache/bind";

        listen-on-v6 { any; };

	//dnssec-enable yes;
        dnssec-validation no;

        auth-nxdomain no;    # conform to RFC1035

{% if dns_forwarders is defined %} 
	forwarders {
		{% for forwarders in dns_forwarders %}
		{{ forwarders }};
		{% endfor %}
	};
{% endif %}

	allow-transfer { trustednetworks; };
	allow-query { trustednetworks; };
	allow-recursion { trustednetworks; };

	max-transfer-time-in 15;
};
