{% if dns_acl is defined %} 
{% for key, acl in dns_acl.items() %}
## ACL for {{ key }}
acl {{ acl['name'] }} {
{% for entry in acl['networks'] %}
	{{ entry }};
{% endfor %}
};
{% endfor %}
{% endif %}

options {
        directory "/var/cache/bind";

        listen-on-v6 { any; };

	//dnssec-enable yes;
        dnssec-validation no;

        auth-nxdomain no;    # conform to RFC1035

{% if dns_forwarders is defined %} 
	forwarders {
		{% for forwarders in dns_forwarders %}
		{{ forwarders }};
		{% endfor %}
	};
{% endif %}

	allow-transfer { {% for e in dns_allow_transfer|default(['any']) %}{{ e }};{% endfor %} };
	allow-query { {% for e in dns_allow_query|default(['any']) %}{{ e }};{% endfor %} };
	allow-recursion { {% for e in dns_allow_recursion|default(['any']) %}{{ e }};{% endfor %} };

	max-transfer-time-in 15;
};
