//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
//include "/etc/bind/zones.rfc1918";

{% for name, zone in dns_zone_files.items() %}
zone "{{ zone["zonename"] }}" {
        type {{ zone ["type"] }};
{% if zone["type"] == "master" %}
        file "/etc/bind/zones/{{ zone["dbname"] }}";
{% endif %}
{% if zone["type"] == "slave" %}
        masters { {{ zone["master"] }}; };
        file "/etc/bind/slave-zone/{{ zone["dbname"] }}";
{% endif %}
};
{% endfor %}
