[mysqld]
wsrep_provider=/usr/lib/libgalera_smm.so

wsrep_cluster_name=pxc-cluster
wsrep_cluster_address=gcomm://{{ percona_active_nodes }} #192.168.70.61,192.168.70.62,192.168.70.63

wsrep_node_name={{ percona_node_name|default(inventory_hostname) }} #pxc1
wsrep_node_address={{ percona_ip }} #192.168.70.61

wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth={{ percona_user}}:{{ percona_password }} #sstuser:passw0rd

pxc_strict_mode=ENFORCING

binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2
